p {
  margin: 15px auto;
  max-width: 700px;
}

table {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  min-width: 100px;
}

#grading-bins td {
  min-width: 0px;
}

#grade-breakdown > tbody > tr:nth-child(2n + 1) {
  background-color: #eee;
}

#letter-grades td {
  min-width: 0px;
}

.redtext {
  color: red;
}

pre,
ol,
ul {
  max-width: 700px;
  margin: auto;
}

.about {
  max-width: 750px;
  margin: 15px auto !important;
  padding: 15px;
}

#markdown-toc {
  font-weight: 300;
  font-size: 15px;
}

.about > p {
  font-size: 15px;
}

.blue {
  color: #2f86eb;
}
