/* Styling for FullCalendar */
.fc table {
    margin: 0px !important;
}

.fc-event {
    font-size: 0.9em;
    cursor: pointer;
    background-color: #2F86EB;
    border: 1px solid #1e87ff;
}

.lecture-event {
    background-color: #939393;
    border: 1px solid #474747;
}

.lost-section-event {
    background-color: #4f51bc;
    border: 1px solid #33347a;
}

.special-section-event {
    background-color: #3a8c41;
    border: 1px solid #265922;
}

.hug-event {
    background-color: #ff4136;
    border: 1px solid #d6372f;
}
