body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  font-weight: 300;
  /*padding-top: 40px;*/
}

a {
  text-decoration: none;
  color: #2f86eb;
}

a:hover {
  color: #2065c4;
}

#coursename {
  color: #2f86eb;
  margin: 30px 40px 20px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

#courseid {
  color: #2065c4;
  font-size: 60px;
  margin-right: 10px;
}

#courseinfo {
  margin-left: 40px;
}

.navbar-top {
  /*position: fixed;*/
  top: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #2f86eb;
  line-height: 20px;
  text-align: center;
  z-index: 10;
}

.navbar-top a {
  color: white;
}

.navbar-top a:hover {
  color: white;
}

#navitems {
  display: inline-block;
  margin: 0 auto;
}

.navitem {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin: 0 15px;
}

#toc-button {
  background-color: Transparent;
  border: none;
  float: left;
  margin-left: 15px;
  outline: none;
  margin-bottom: -10px;
  margin-top: -4px;
  cursor: pointer;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

#content {
  margin: 20px 40px 40px;
}

h3,
.segment {
  margin-top: 20px;
  border-top: 2px solid #2f86eb;
  padding-top: 20px;
}

h3,
.segmenttitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

p,
.text {
  line-height: 24px;
  margin-top: 10px;
}

td > p {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
}

/* Code blocks */
div.highlight {
  border-radius: 0.5em;
  overflow: auto;
  padding: 0.5em;
}

pre.highlight {
  margin: 0;
}

code {
  font-family: "Inconsolata", monospace;
  color: #f7f7f7;
}

p code,
ol code,
ul code,
h1 code,
h2 code,
h3 code,
h4 code {
  /*background-color: #000;
    border-radius: 3px;*/
  border-radius: 3px;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  color: #000;
  padding: 0px 5px;
}

.highlight > code {
  color: #f7f7f7;
  padding: 0px;
}

p > img {
  display: block;
  margin: 0 auto;
}

.red {
  color: red;
}

.announcements {
  list-style-type: none;
  padding: 0;
  margin: 0 15px 0 15px;
  height: 250px;
  overflow-y: auto;
}

.announcements p {
  max-width: none;
  margin: 10px auto;
}

.announcements li {
  text-align: left;
  width: 95%;
}

.announcement-item .title {
  font-weight: 600;
  text-align: center;
  max-width: 600px;
  vertical-align: middle;
}

.small {
  font-size: 14px;
}

.post-metadata {
  font-size: 14px;
  text-align: right;
}

div.table {
  display: table;
}

div.tr {
  display: table-row;
}

div.td {
  display: table-cell;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .announcements {
    max-width: 700px;
  }
}

@media screen and (min-width: 750px) {
  .announcements {
    width: 700px;
    display: inline-block;
  }
}

.announcement-title-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.prev,
.next {
  display: inline-block;
  position: relative;
  color: rgba(47, 134, 235, 1);
  padding: 10px 0px;
  font-size: 36px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.announcement-wrapper {
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#announce-scroll::-webkit-scrollbar-track {
  border: 1px solid #d2e7ff;
  background-color: white;
}

#announce-scroll::-webkit-scrollbar {
  margin-left: 5px;
  width: 10px;
  background-color: white;
}

#announce-scroll::-webkit-scrollbar-thumb {
  background-color: #2f86eb;
}

#build_time {
  font-size: 12px;
  text-align: right;
}

/* Credit: https://codepen.io/desirecode/pen/MJPJqV */
#back-to-top {
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #2f86eb;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 999;
}

#back-to-top span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#back-to-top:hover {
  background-color: #2065c4;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.anchor {
  display: block;
  height: 40px; /*same height as header*/
  margin-top: -40px; /*same height as header*/
  visibility: hidden;
}

.toggle-wrapper {
  margin: 10px 0px;
}

.toggle-link:hover,
#expand-all:hover,
#hide-all:hover {
  cursor: pointer;
}

.toggle-link {
  font-weight: 600;
}

#expand-all {
  display: none;
}
