table#calendar {
  margin: 20px 0;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
}

.tippy-content {
  text-align: left;
}

/* Calendar */
.odd {
  background-color: #ddd;
}

.current-week {
  background-color: #e9f2fd;
}

.emph1,
.emph1 a {
  color: white;
  background-color: #2f86eb;
}

.emph1 a {
  text-decoration: underline dotted;
}

.emph1 a:hover {
  color: #cce3ff;
}

.emph2 {
  background-color: #777;
  color: white;
}

.emph3 {
  background-color: #cc0000;
  color: white;
}

.emph4 {
  background-color: #FDD2F7;
  color: black;
}

.proj {
  color: #4cbb17;
}

.unreleased {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.curweek {
  background-color: #e9f2fd;
}

@media (min-width: 900px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 999;
  }
}

.sidebar span {
  margin: 5px 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
  font-weight: 300;
  float: right;
}
